---
import Form from "../components/Form.astro";
import "../index.css";
---

<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="haroldthehorse.com"
      src="https://plausible.io/js/script.js"></script>
    <title>Harold the Horse</title>
    <meta
      name="description"
      content="Harold is a horse. All he knows is horse idioms and he tries his best to insert them into every conversation he can."
    />
    <meta property="og:title" content="Harold the Horse" />
    <meta
      property="og:description"
      content="Harold is a horse. All he knows is horse idioms and he tries his best to insert them into every conversation he can."
    />
    <meta property="og:image" content="/icon.png" />
    <meta property="og:url" content="https://haroldthehorse.com" />
  </head>
  <body>
    <main
      class="flex flex-col items-center min-h-screen bg-base-300 p-4 py-[25vh]"
    >
      <h1 class="text-4xl mb-4 font-bold tracking-wide">Harold the Horse</h1>
      <Form />
      <p>
        Built by <a
          class="link"
          href="https://josh.work"
          target="_blank"
          rel="noopener noreferrer">Josh Richards</a
        >
      </p>
    </main>
  </body>
</html>
