---
import Form from "../components/Form.astro";
import "../index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="haroldthehorse.com"
      src="https://plausible.io/js/script.js"></script>
    <title>Harold the Horse</title>
    <meta
      name="description"
      content="Harold is a horse therapist. He fills his answers with love and horse idioms."
    />
  </head>
  <body>
    <main
      class="flex flex-col items-center pt-[50%] min-h-screen bg-gray-200 p-4"
    >
      <h1 class="text-4xl mb-4">Harold the Horse</h1>
      <Form />
    </main>
  </body>
</html>
